@media (max-width: 670px) {
  .hidden-670 {
    display: none;
  }

  .phone-display {
    display: inline;
  }
  /* beach section */

  .box-menu {
    justify-content: center;
  }

  .visibility-hidden {
    visibility: hidden;
  }

  .main-img {
    background-color: #f2f2f2;
  }

  .transparent-box {
    border-color: white;
  }

  /*  worldwide  */
  .worldwide {
    width: 300px;
  }

  /*  carrousel  */
  .worldwide-img {
    /* border: solid 3px green; */
    width: auto;
    overflow: scroll;
    gap: 20px;
    padding: 20px;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  .box-relative:nth-child(3) {
    width: auto;
  }

  .box-relative:nth-child(3) img {
    width: 285px;
  }

  /* footer */
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
}
