@media (max-width: 960px) {
  /* worldwide */
  .worldwide {
    flex-direction: column;
    margin: 10px auto;
    width: 630px;
    /* border: solid 3px red; */
  }

  .worldwide-img {
    width: 630px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .box-relative:nth-child(3) {
    /* border: solid 3px green; */
    width: 100%;
  }
  .box-relative:nth-child(3) img {
    width: 100%;
    object-fit: cover;
    object-position: top;
  }

  .padding-960 {
    padding-left: 20px;
    padding-right: 20px;
  }
}
