body {
  width: 1870px;
}

/* Header */

header {
  background-image: url("../img/photosPartie2/headbar.gif");
  background-position: contain;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 60px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  padding: 0 20px;
}

/* Navigation */
h1 {
  display: flex;
  align-items: center;
  padding: 10px 10px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.navigation a {
  margin: 10px 10px;
}
nav a {
  color: white;
  text-decoration: none;
}

nav button {
  padding: 7px 10px;
  background-color: white;
  color: #ff6600;
  border: none;
  font-size: 16px;
  border-radius: 2px;
}
/* ------  */

/* Main */

.main-img {
  /* border: solid 3px black; */
  width: 100%;
  height: 650px;
  object-fit: cover;
}
.container {
  width: 1300px;
  margin: 10px auto;
  font-size: 15px;
  line-height: 20px;
  padding: 0px 10px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0px;
}
/* Carrousel */
.carrousel {
  padding: 0px 10px;
  /* border: solid 3px black; */
  margin: 30px auto;
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  /* scrollbar-width: none; */
  gap: 25px;
}
.carrousel-img {
  flex-shrink: 0;
  width: 300px;
  border-radius: 15px;
  /* border: solid 3px green; */
  box-shadow: rgb(224, 224, 224) 2px 2px 2px 0px;
}
.carrousel-img img {
  border-radius: 15px 15px 0px 0px;
}
.carrousel-text {
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  /* border: solid 3px red; */
}

h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.carrousel-text button {
  border: solid 10px black;
  color: white;
  border: none;
  margin-top: 100px;
  padding: 10px 20px;
  background-color: #ff6600;
  border-radius: 7px;
}

/* ---------- */
.worldwide {
  display: flex;
  margin-bottom: 20px;
  box-shadow: rgb(224, 224, 224) 2px 2px 2px 2px;
  height: 300px;
}

.worldwide > img {
  flex: 2;
  max-width: 640px;
  height: auto;
  object-fit: cover;
  object-position: right top;
}

.worldwide2 {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.worldwide-text {
  font-size: 16px;
  padding: 0px 10px;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.button > button {
  background-color: #ff6600;
  color: white;
  border: none;
  height: 40px;
  width: 250px;
  font-size: 16px;
  border-radius: 4px;
}

.worldwide-img {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px 20px;
}

.worldwide-img img {
  height: 220px;
  width: 285px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: rgb(224, 224, 224) 2px 2px 2px 2px;
}
.box-relative {
  position: relative;
}
.box-relative p {
  position: absolute;
  top: 20px;
  left: 15px;
  font-size: 30px;
  color: white;
  line-height: 25px;
}

.box-relative button {
  position: absolute;
  bottom: 20px;
  left: 15px;
  font-size: 15px;
  color: white;
  border: none;
  background-color: transparent;
}

/* footer */

footer {
  background-color: #f2f2f2;
  padding: 10px 20px;
}

.footer {
  color: rgb(95, 95, 95);
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
}

h3 {
  font-size: 18px;
  padding: 5px 0px;
  margin-bottom: 20px;
}
